.about {
    margin: 0;
    padding-top: 20vh;
    padding-bottom: 20vh;
    min-height: 100vh;
    width: 80vw;
    margin-left: 10vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.heading {
    color: #A5ED59;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: white;
}

p {
    color: white;
}

.resume-btn {
    background-color: #A5ED59;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Responsive Design */


/* mobile-first approach */
@media (max-width: 768px) {
    .about {
        padding-top: 20vh;
        width: 90vw;
        margin-left: 5vw;
        min-height: 120vh;
    }
}