.contact {
    padding: 10vh;
    height: 100vh;
    z-index: 1;
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.contact_left, .contact_right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

h2 {
    color: white;
    font-size: 2rem;
}

.contact_right h2 {
    text-decoration: underline;
}

p {
    color: white;
}

.contact_lables {
    color: white;
    margin-top: 1.5rem;
    letter-spacing: 2px;
}

.contact_lables a {
    color: #A5ED59;
    text-decoration: none;
}

.span1 {
    font-weight: bold;
    font-size: 1em;
    color: #A5ED59;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2rem;
}

input, textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 2px solid #243513;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #243513;
    color: white;
}

input::placeholder, textarea::placeholder {
    color: white;
}

input:hover, textarea:hover {
    border: 2px solid #4CAF50;
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid #4CAF50;
}

button {
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}


/* Responsive Design */


/* tablet-first approach */
@media (max-width: 768px) {
    .contact {
        padding-top: 15vh;
        width: 90vw;
        margin-left: 5vw;
        min-height: 120vh;
    }

    .contact_left, .contact_right {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    form {
        width: 80vw;
    }

    input {
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }

    .contact_lables {
        font-size: 1rem;
    }
}