.home {
    margin: 0;
    padding-top: 10vh;
    min-height: 100vh;
    width: 80vw;
    margin-left: 10vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.main-home img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #A5ED59;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    color: white;
    font-size: 1.5em;
}

.span1 {
    font-weight: bold;
    font-size: 1.2em;
    color: #A5ED59;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.span2 {
    color: #A5ED59;
}

button {
    background-color: #A5ED59;
    color: black;
    border: none;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-bottom: 40px;
}

.featured-project {
    background-color: #659951;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
    width: 60vw;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    background-color: #7cd31f;
    transition: 0.3s ease-in-out;
}



/* Responsive Design */


/* Mobile-first approach */
@media (max-width: 768px) {
  .home {
    padding-top: 15vh;
    width: 90vw;
    margin-left: 5vw;
    min-height: 120vh;
  }

  .main-home {
    flex-direction: column;
    gap: 30px;
  }

  .main-home img {
    width: 180px;
    height: 180px;
  }

  p {
    font-size: 1.2em;
    text-align: center;
  }

  .featured-project {
    width: 90vw;
    margin: 20px auto;
    text-align: start;
  }

  .featured-project p {
    text-align: left;
    margin-top: 1em;
  }

  button {
    width: 100%;
    font-size: 1em;
  }
}

/* Tablet view */
@media (min-width: 769px) and (max-width: 1024px) {
  .home {
    width: 85vw;
    margin-left: 7.5vw;
  }

  .main-home img {
    width: 200px;
    height: 200px;
  }

  .featured-project {
    width: 75vw;
  }
}
