* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 8vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: 1;
}

header h2 {
  color: #A5ED59;
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 2px;
  word-spacing: 3px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header nav .Link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  padding-right: 1.2em;
}

.Link:hover {
  cursor: pointer;
  color: #A5ED59;
}

footer {
  width: 100%;
  height: 12vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: 1;
}

footer p {
  color: white;
  font-size: 1.2em;
}


/* Responsive Design */


/* Mobile-first adjustments */


@media (max-width: 768px) {
  header {
    height: 10vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    margin-top: 5px;
    padding-left: 20px;
  }

  header h2 {
    font-size: 1.4em;
  }

  footer {
    padding: 3em;
  }

  footer p {
    font-size: 1em;
  }
}

/* Tablet view */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    height: 9vh;
    padding: 15px;
  }

  .nav-links {
    margin-top: 5px;
    padding-left: 20px;
  }

  header h2 {
    font-size: 1.6em;
  }

  header nav .Link {
    font-size: 1.1em;
  }

  footer p {
    font-size: 1.1em;
  }
}
